<h1>Das Burgerz!</h1>

<h2>Fresh Burgers</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}

	    <li>
	      {{burger_name}}

	      <button class="change-devoured" data-id="{{id}}" data-devoured="1">EAT ME!</button>
      </li>

    {{/unless}}
  {{/each}}
</ul>

<h2>Eaten Burgers</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <li>
        {{burger_name}}

        <button class="change-devoured" data-id="{{id}}" data-devoured="0">MAKE A NEW ONE!</button>
      </li>

    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bg">Burger Name:</label>
    <input type="text" class="form-control add-new" id="bg" name="name">
  </div>


  <button type="submit">Add Burger</button>
</form>