
html,
body {
  height: 100%;
}

#sticky-footer {
  flex-shrink: none;
}
body {    
    background-image: url("/assets/images/background.jpg");
    min-height: 100%;
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(4, 255, 62);
    /* text-shadow: 1px 1px 1px rgb(255, 255, 255); */
}

h1,
h2 {
    color: ivory;
}

.list-group-item {
    border-color: ivory;
    background-color: rgba(0, 0, 0, 0)
}
.add-new {
    background-color: rgba(0, 0, 0, 0.185);
}

#burger-logo {
    max-width: 12rem;
}

img {
    width: 100%;
    height: auto;
  }